<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/cookie.js" type="module" defer></script>
    <script src="/js/login.js" type="module" defer></script>
</head>
<body>

<main class="container">
        <div>
            <label for="username">Введите логин:</label>
            <input type="text" name="username" id="username" />
            <br />
            <label for="password">Введите пароль:</label>
            <input type="password" name="password" id="password" />
            <br />
            <input type="button" id="entryBtn" value="Войти"/>
        </div>


</main>
</body>
</html>